*   {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

html, body, #root {
        height: 100%;
}

*, button, input {
    border: 0px;
    outline: 0px;
    font-family: 'Roboto', sans-serif;
}

#Layout {
    display: grid;
    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    grid-template-areas:
        'Main TablesArea'
        'Main TablesArea';

    height: 100vh;
    width: 100vw;
}

#twitch-viewer {
    grid-area: Main;
    display: flex; 
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;

    height: 100vh;
    width: 50vw;

    background-color: var(--primary);
}

#twitch-viewer > div {
    display: flex;
    flex-direction: row;
}

#twitch-viewer > iframe {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 312px;
    
    background-color: var(--secondary);
}

#tables-area {
    grid-area: TablesArea;

    display: flex; 
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;

    height: 100vh;
    width: 50vw;

    background-color: var(--primary);
}

.team-table {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;

    height: 312px;
    
    background-color: var(--secondary);
}

.team-table > h2 {
    color: var(--white);
}

.team-table > div {
    display: flex;
    flex-direction: row;
}

#calcs-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;

    height: 312px;
    
    background-color: var(--secondary);
}

#calcs-container > h2 {
    color: var(--white);
}

#calcs-container > div {
    display: flex;
    flex-direction: row;
}

#final-result-container, #equal-value-container {
    display: flex;
    flex-direction: column;
    
    width: 200px;

    align-items: center;

    padding: 10px 10px;
    margin-left: 8px;
}

#final-result-container > strong, #equal-value-container > strong {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;
}

#final-result-labels, #equal-value-labels {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#final-result-labels > strong, #equal-value-labels > strong {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-bottom: 8px;
}

#final-result-labels > span, #equal-value-labels > span {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.odds-list-container {
    display: flex;
    flex-direction: column;
    
    width: 200px;

    align-items: center;

    padding: 10px 10px;
    margin-left: 8px;
}

.odds-list-container > strong {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;
}

.odds-list-container > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.odds-list-container > div > span {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.odds-list-container > .odds-input-form {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.values-list-container {
    display: flex;
    flex-direction: column;
    
    width: 200px;

    align-items: center;

    padding: 10px 10px;
    margin-left: 8px;
}

.values-list-container > strong {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;
}

.values-list-container > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.values-list-container > div > span {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.values-list-container > span {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.values-list-container > .values-input-form {
    width: 100%;
    height: 30px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 8px;

    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;

    color: var(--white);
    background-color: var(--tertiary);
}

.results-list-container {
    display: flex;
    flex-direction: column;
    
    width: 200px;

    align-items: center;
    justify-content: center;

    padding: 0px 10px;
    margin-left: 8px;
}

.results-list-container > strong {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;
}

.results-list-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.results-list-container > div > button {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    margin-left: 5px;
    text-align: center;
    cursor: pointer;

    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 5px;

    background-color: var(--discord);
}

.results-list-container > span {
    width: 100%;
    height: 30px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 8px;
    
    color: var(--white);
    text-align: center;

    border: 1px solid var(--gray);
    border-radius: 5px;
}

:root {
    --primary: #36393f;
    --secondary: #2f3136;
    --tertiary: rgb(32,34,37);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;
 
    --white: #fff;
    --gray: #8a8c90;
    --chat-input: rgb(64,68,75);
    --symbol: #74777a;
 
    --notification: #f84a4b;
    --discord: #6e86d6;
    --mention-detail: #f9a839;
    --mention-message: #413f3f;
 
    --link: #5d80d6;
}

